body{
	background: #F1F1F1;
}

#main{
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	padding-top: 30px;
}


#content-overlay{
	border:#446429 solid 1px;
	margin-top:20px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow:3px 0px 15px ,0px 3px 15px ;
	background: #fff;
}


#content{
	max-height: 300px;
	min-height: 100px;
	overflow:scroll;
	overflow-x:hidden;
	padding-top:30px;
	padding-left: 20px;
	margin-right:12px;
}

#content table{
	width: 100%;
}

#info{
	font-weight: bold;
}

#info gr{
	color:green;
}

select{
	width: 100px;
}
